<!doctype html>
<html>
    <head>
        <title>A.I. Generated Instagram Captions</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/basic_layout.css">
    </head>
    <body>
        <h1>A.I. Generated Instagram Captions</h1>
        <h2>Days of wrecking your brain thinking <br>
            "What do I write?" are over! </h2>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="http://localhost:5000/get-caption-from-image" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </body>
</html>